$accent: #FDC72B;
$blue: #1F2A57;
$roboto: 'Roboto', sans-serif;
$fira: 'Fira Sans Condensed', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    font-size: 18px;
}

body {
    font-family: $roboto;
    margin: 0;
    padding: 0;
    cursor: default;
    color: #fff;
    background: #fff;
    overflow-x: hidden;
    position: relative;
}

section {
	width: 100%;
	position: relative;
	background: #fff;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.btn {
	background: $accent;
	font-family: $roboto;
	font-weight: 500;
	line-height: 21px;
	text-transform: uppercase;
	transition: all 0.3s ease;
	display: inline-block;
	color: #4f4f4f;

	&:hover {
		background: #FFEAAC;
		color: #4F4F4F;
	}
}

.burger {
	transition: all 0.3s ease;
	display: inline-block;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
	height: 30px;
	width: 40px;
	z-index: 60 !important;

	&.active {
		span:nth-child(2) {
			display: none;
		}

		span:first-child {
			transform: rotate(45deg) translate(15px, 7px);
		}

		span:last-child {
			transform: rotate(-45deg) translate(14px, -6px);
		}
	}

	&:hover {
		span {
			background: $accent;
		}
	}

	span {
		transition: all 0.3s ease;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: #fff;
		height: 1.5px;

		&:first-child {
			top: 0;
		}
	
		&:last-child {
			top: 100%;
		}


	}
}

.mobile-menu {
	position: fixed;
	top: 0;
	right: -100%;
	background: $blue;
	padding: 127px 30px 30px 60px;
	z-index: 50 !important;
	transition: all 0.3s ease;

	& * {
		z-index: 50 !important;
	}

	&.active {
		right: 0;
	}

	li {
		margin-bottom: 40px;
	}

	a {
		font-size: 24px;
		line-height: 28px;
		color: #fff;
		position: relative;
		padding-bottom: 10px;
	
		&:after {
			content: '';
			position: absolute;
			bottom:0;
			left: 0;
			width: 100%;
			height: 2px;
			background: transparent;
			transition: all 0.3s ease;
		}

		&:hover {
			&:after {
				content: '';
				background: #FDC72B;
			}
		}
	}
}

.header {
	height: 100vh;
	padding-top: 68px;

	& * {
		z-index: 2;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(31, 42, 87, 0.5);
	}

	&__mobile-header {
		width: 100%;
		padding: 40px 5%;
		position: fixed;
		left: 0;
		top: 0;
		background: transparent;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		transition: all 0.3s ease;
		display: none;
		z-index: 100;

		&.header__mobile-header_blue-bg {
			background: $blue;
		}
		
	}
	.mobile-header {
		&__left {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			width: 22%;
		}

		&__phone {
			font-weight: bold;		

			.icon {
				background: url(img/icons/telephone.png) 0 0 / contain no-repeat;
				width: 46px;
				height: 46px;
			}
		}

		&__email {
			.icon {
				background: url(img/icons/email.png) 0 0 / contain no-repeat;
				width: 48px;
				height: 48px;
			}
		}

		&__center {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: flex-start;

			a {
				color: #fff;
			}
		}

		&__logo {
			background: url(img/icons/logo.png) 0 0 / contain no-repeat;
			width: 52px;
			height: 38px;
			margin-right: 17px;
			display: inline-block;
		}

		&__labels {
			display: inline-block;
		}

		&__title {
			font-family: $fira;
			
			font-weight: 500;
			font-size: 24px;
		}

		&__subtitle {
			font-family: $fira;
			position: relative;
			margin-top: 15px;

			&:before {
				content: '';
				position: absolute;
				top: -7px;
				left: 0;
				background: #FDC72B;
				width: 30px;
				height: 2px;
			}
		}


	}

	&__top-menu {
		padding: 30px 5%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 50;
		transition: all 0.3s ease;

		&.header__top-menu_blue-bg {
			background: $blue;
		}
	}

	.top-menu {
		&__left-side {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		&__menu {
			width: 37%;
		}

		&__menu ul {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: flex-start;

			li:hover {
				a:after {
					opacity: 1;
				}
			}

			li a {
				line-height: 21px;
				color: #fff;
				position: relative;
				transition: all 0.3s ease;

				&:after {
					content: '';
					position: absolute;
					bottom: -3px;
					left: 0;
					width: 100%;
					background: #FDC72B;
					height: 2px;
					opacity: 0;
					transition: all 0.3s ease;
				}
			}
		}

		&__right-side {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 27%;

			& * {
				transition: all 0.3s ease; 
			}

			a {
				display: inline-block;
				line-height: 20px;
				color: #fff;				

				&:hover {

					p {
						border-bottom: 1px solid #fff;

					}
					
				}
			}

			p {
				border-bottom: 1px solid transparent;
				display: inline-block;
				vertical-align: top;
			}
		}
	}

	.left-side {
		&__logo {
			background: url(img/icons/logo.png) 0 0 / contain no-repeat;
			width: 52px;
			height: 38px;
			margin-right: 17px;
		}

		&__title {
			font-family: $fira;
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			margin-right: 20px;
			color: #fff;
		}

		&__subtitle {
			font-family: $fira;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: -7px;
				left: 0;
				background: #FDC72B;
				width: 30px;
				height: 2px;
			}
		}
	}
	
	.right-side {
		&__phone, &__email {
			.icon {
				width: 20px;
				height: 20px;
				margin-right: 20px;
				display: inline-block;
			}
		}

		&__phone {
			font-weight: bold;

			.icon {
				background: url(img/icons/telephone.png) 0 0 / contain no-repeat;
			}
		}

		&__email {

			.icon {
				background: url(img/icons/email.png) 0 0 / contain no-repeat;
			}
		}
	}

	&__content {
		height: 40vh;
		margin-top: 12%;
		width: 75%;
		position: relative;

		h1 {
			font-family: $fira;
			font-weight: 500;
			font-size: 72px;
			line-height: 86px;
		}

		p {
			font-family: $roboto;
			font-size: 36px;
			line-height: 42px;
			margin-top: 2%;
		}
	}
	
	&__calculate-btn {
		padding: 20px 68px;
		margin-top: 2%;
		position: relative;
		color: #4F4F4F;
	}
	
	&__other-buttons {
		.btn {
			position: absolute;
			right: 0;
			bottom: 23%;
			text-transform: none;
			color: #1F2A57;
		}

		.write-btn {
			font-family: $fira;
			font-weight: 500;
			font-size: 24px;
			padding: 25px 50px 25px 27px;
			display: flex;
			align-items: center;
			transform: translateX(200px);

			.icon {
				width: 40px;
				height: 40px;
				display: inline-block;
				background: url(img/icons/edit.png) 0 0 / contain no-repeat;
				margin-right: 30px;
			}
		}

		.call-btn {
			font-family: $fira;
			font-weight: 500;
			font-size: 24px;
			padding: 25px 30px 25px 27px;
			display: flex;
			align-items: center;
			bottom: 10%;
			transform: translateX(200px);

			.icon {
				width: 40px;
				height: 40px;
				display: inline-block;
				margin-right: 30px;
				background: url(img/icons/blue-telepphone.png) 0 0 / contain no-repeat;
				
			}
		}

		.write-btn, .call-btn {
			position: fixed;
			z-index: 5;

			&:hover {

				background: $accent;
				transform: translateX(0px);
			}
		}
	}
}

.title {
	color: $blue;
	font-family: $fira;
	font-size: 64px;
	line-height: 77px;
	font-weight: normal;
	margin-bottom: 52px;
}

.works {
	padding: 97px 0 97px;

	&__table {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		flex-wrap: wrap;
	}

	.table {
		&__item {
			width: 32%; 
			margin-right: 1.3%;
			margin-bottom: 30px;

			&:last-child {

				.item__info ul li:after {
						display: none;
					} 
				
			}

			&.hover {
				.item__head:after{
					transform: rotate(180deg) translateY(15px);

				}
			}
		}
	}

	.item {
		&__head {
			background: $blue;
			height: 130px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;

			&:after {
				content: '';
				position: absolute;
				right: 30px;
				top: 50%;
				transform: translateY(-50%);
				background: url(img/icons/chevron-down.png) 0 0 / contain no-repeat;
				width: 30px;
				height: 30px;
				transition: all 0.3s ease;
			}			

			p {
				width: 70%;
				font-family: $fira;
				font-weight: 500;
				font-size: 24px;
				line-height: 29px;
				margin-left: 30px;
			}
		}

		&__pic {
			height: 260px;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(31, 42, 87, 0.3);
				box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
			}
		}

		&__body {
			position: relative;
		}

		&__info {
			background: #E9EBEF;
			padding: 30px 30px 50px 30px;
			box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
			color: #000;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 7;
			display: none;

			ul {
				margin-top: 30px; 

				li {
					padding-left: 30px;
					width: 90%;
					position: relative;
					z-index: 1;
					padding-top: 15px;
					padding-bottom: 15px;

					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 5px;
						height: 5px;
						background: #333;
					}

					&:first-child {
						&:after {
							height: 50%;
							transform: translateY(0%);
						}
					}

					&:last-child {
						&:after {
							height: 50%;
							transform: translateY(-100%);
						}
					}

					&:after {
						content: '';
						position: absolute;
						left: 2px;
						top: 50%;
						transform: translateY(-50%);
						width: 1px;
						height: 100%;
						background: #BDBDBD;
						z-index: -1;
					}
				}
			}
		}
	}

	.info {
		&__title {
			font-size: 20px;
			line-height: 23px;
		}
	}

	&__calculate-btn {
		margin-top: 25px;
		padding: 16px 70px;
	}
}

.advantages {
	padding-bottom: 92px;

	&__title {
		margin-bottom: 40px;
	}

	&__text {
		font-size: 24px;
		line-height: 36px;
		color: #000;
		width: 65%;
	}
}

.advantages-table {
	background: url(img/adv-bg.png) center/cover no-repeat, linear-gradient(rgba(31, 42, 87, 1));
	padding: 70px 0 60px;

	&__table {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.table {
		&__item {
			width: 23%;
		}
	}

	.item {
		&__title {
			font-family: $fira;
			font-weight: 500;
			font-size: 36px;
			line-height: 43px;
			margin-bottom: 30px;
			display: inline-block;
		}

		&__text {
			font-size: 24px;
			line-height: 36px;
		}
	}
}

.services {
	padding: 175px 0 180px;
	background: linear-gradient(rgba(255, 255, 255, 0.9)), url(img/services-bg.png) 0 0 / contain no-repeat;

	&__table {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 100px;
	}

	.table {
		&__item {
			width: 24%;
		}
	}

	.item {
		&__title {
			font-family: $fira;
			font-size: 36px;
			line-height: 43px;
			color: $blue;
			width: 85%;
			display: inline-block;
			margin-bottom: 47px;
			position: relative;
			padding-bottom: 35px;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 50px;
				height: 2px;
				background: $blue;
			}
		}

		&__text {
			font-size: 20px;
			line-height: 36px;
			color: #000;
		}
	}

	.more-btn {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: $blue;
		position: relative;
		display: inline-block;
		padding-right: 38px;
		transition: all 0.3s ease;
		margin-left: 12%;

		&:hover {
			transform: translateX(10px);
		}

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 30px;
			height: 30px;
			background: url(img/icons/arrow-right.png) 0 0 / contain no-repeat;
		}
	}
}

.questions {
	padding: 0px 0px 150px;

	&__title {
		margin-bottom: 90px;
	} 

	&__list {
		li {
			padding-left: 60px;
			/*width: 40%;*/
			position: relative;
			z-index: 1;
			padding-top: 30px;
			padding-bottom: 30px;
			font-size: 24px;
			line-height: 36px;
			color: #000;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 5px;
				height: 5px;
				background: #333;
			}

			&:first-child {
				&:after {
					height: 50%;
					transform: translateY(0%);
				}
			}

			&:last-child {
				&:after {
					height: 50%;
					transform: translateY(-100%);
				}
			}

			&:after {
				content: '';
				position: absolute;
				left: 2px;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 100%;
				background: $accent;
				z-index: -1;
			}
		}
	}

	&__right-block {
		padding: 5% 6% 6% 4%; 
		margin-right: -6%;
		float: right;
		width: 60%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 50px;
		background: url(img/video-bg.png) center / cover no-repeat, linear-gradient(rgba(31, 42, 87, 1));
		position: relative;
		z-index: 2;
	}

	.right-block {
		&__annotation {
			font-family: $fira;
			font-size: 24px;
			line-height: 36px;
			width: 45%;
			position: relative;
			padding-top: 40px;
			padding-bottom: 70px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 35%;
				height: 2px;
				background: $accent;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 35%;
				height: 16px;
				background: url(img/icons/video-arrow.png) right 0 / contain no-repeat;
			}
		}

		&__video {
			width: 50%;

			
		}
	}

	.video {
		&__video {
			display: inline-block;
			width: 100%;
			height: 210px;
			position: relative;


			&:hover {
				&:before {
					transform: translate(-50%, -50%) scale(1.05);
				}
			}

			&:before {
				transition: all 0.3s ease;
				content: '';
				position: absolute;
				background: url(img/icons/video-play.png) 0 0 / contain no-repeat;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 65px;
				height: 41px;
				z-index: 1;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(31, 42, 87, 0.4);
				box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
			}
		}

		&__labels {
			margin-top: 30px;
		}
	}

	.labels {
		&__author {
			font-family: $fira;
			font-weight: bold;
			font-size: 24px;
			line-height: 28px;
		}

		&__title {
			font-family: $fira;
			line-height: 28px;
			margin-left: 30px;
		}
	}
}

.deadlines {
	padding: 70px 0 87px;
	background: url(img/deadline-bg.png) 0 bottom / contain no-repeat, linear-gradient(rgba(223, 235, 239, 0.4));
	
	&__title {
		margin-bottom: 7%;
	}

	&__table {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}

	.table {
		&__item {
			width: 50%;
			position: relative;
			padding-left: 7%;

			&:nth-child(1) {

				&:before {
					content: '';
					width: 61px;
					height: 61px;
					background: url(img/icons/truck.png) 0 0 / contain no-repeat;
					position: absolute;
					left: 0;
				}
			}

			&:nth-child(2) {
				&:before {
					content: '';
					width: 61px;
					height: 61px;
					background: url(img/icons/document.png) 0 0 / contain no-repeat;
					position: absolute;
					left: 0;
				}
			}

			span {
				display: block;
			}
		}
	}

	.item {
		&__title {
			font-family: $fira;
			font-weight: 500;
			font-size: 30px;
			line-height: 36px;
			color: $blue;
			margin-bottom: 30px;
		}

		&__text {
			font-size: 24px;
			line-height: 36px;
			color: #000;
		}
	}
}

input[type="text"] {
	box-sizing: border-box;
	font-size: 24px;
	height: 60px;
	padding: 0 30px;
	border: 1px solid rgba(31, 42, 87, 0.11); 
}

input[type="text"]::-webkit-input-placeholder {
	font-family: $roboto;	
	font-size: 24px;
	color: #BDBDBD;
	font-weight: normal;
}
input[type="text"]::-moz-placeholder {
	font-family: $roboto;	
	font-size: 24px;
	color: #BDBDBD;
	font-weight: normal;
}
input[type="text"]:-moz-placeholder {
	font-family: $roboto;	
	font-size: 24px;
	color: #BDBDBD;
	font-weight: normal;
}
input[type="text"]:-ms-input-placeholder {
	font-family: $roboto;	
	font-size: 24px;
	color: #BDBDBD;
	font-weight: normal;
}

textarea {
	border: 1px solid rgba(31, 42, 87, 0.11);
	box-sizing: border-box;
	height: 100%;
	padding: 20px 30px;y: $roboto;
	font-size: 24px;
	resize: none;
}

textarea:-ms-input-placeholder {
	font-family: $roboto;	
	font-size: 24px;
	color: #BDBDBD;
	font-weight: normal;
}

textarea:-moz-placeholder {
	font-family: $roboto;	
	font-size: 24px;
	color: #BDBDBD;
	font-weight: normal;
}

textarea::-moz-placeholder {
	font-family: $roboto;	
	font-size: 24px;
	color: #BDBDBD;
	font-weight: normal;
}

textarea::-webkit-input-placeholder {
	font-family: $roboto;	
	font-size: 24px;
	color: #BDBDBD;
	font-weight: normal;
}

.calculating {
	padding: 130px 0 100px;
	
	&__form {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		p {
			width: 30%;

			& * {
				width: 100%;
				margin-bottom: 30px;
			}

			.select {
				width: 100%;
				display: inline-block;
				position: relative;
				font-family: $roboto;
				box-sizing: border-box;

				select {
				    display: block;
				    width: 100%;				    
				    background: none;
				    border: 1px solid rgba(31, 42, 87, 0.11);
				    -webkit-appearance: none;/* Chrome */
				    -moz-appearance: none;/* Firefox */
				    appearance: none;/* убираем дефолнтные стрелочки */
				    font-family: inherit;/* наследует от родителя */
				   	font-size: 24px;
				   	padding: 0 30px;
				   	height: 60px;
				   	margin-bottom: 0;
				    color: #BDBDBD;
				}

				&:after {
				    content: "";
				    width: 19px;
					height: 10px;
					background: url(img/icons/gray-arrow-down.png) 0 0 / contain no-repeat;
				    display: block;				    
				    pointer-events: none;
				    position: absolute;
				    top: 50%;
				   	right: 30px;
				    z-index: 1;
				    transform: translateY(-50%);
				}
			}

			input[name="email"], .select:last-child {
				margin-bottom: 0;
			}			
		}

		.bottom-inputs {
			margin-top: 30px;

			input[id="files"] {
				display: none;
			}

			.attach-btn {
				color: #828282;
				font-family: $roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 21px;
				position: relative;
				padding-left: 27px;
				cursor: pointer;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background: url(img/icons/attach.png) 0 0 / contain no-repeat;
					width: 15px;
					height: 15px;
				}
			}

			input[name="calculate-btn"] {
				width: auto;
				padding: 20px 70px;
				margin-top: 60px;
				border: none;
				cursor: pointer;
				font-size: 18px;
				color: #4F4F4F;
			}
		}
	}
}

.documents {
	padding-bottom: 10%;
	background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 1) 70%), url(img/documents-bg.png) 100% 0 / contain no-repeat;

	&__slider {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		
		box-sizing: border-box;
		transition: all 0.3s ease;

		& * {
			box-sizing: border-box;
			transition: all 0.3s ease;
		}
	}

	.owl-nav {
		margin-top: 60px;
		text-align: right;
		position: absolute;
		right: 0;

		.owl-prev i, .owl-next i{
			color: $accent;
			font-size: 28px;
		}

		.owl-prev.disabled i, .owl-next.disabled i{
			color: #828282;
			cursor: default;
		}

		.owl-prev {
			margin-right: 50px;
		}
	}

	&__main-slide {
		width: 30%;
		position: relative;
		margin-right: 1.7%;

		img {
			width: 100%;
			height: 100%;
		}

		.item__info {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: $blue;
			padding: 30px 37px;

			span {
				display: block;
				font-family: $fira;
				font-size: 24px;
				line-height: 36px;
			}
		}
	}

	&__nav {
		width: 70%;
		
		img {
			width: 100%;
			height: 100%;
		}

		.table__item {
			/*width: 18%;*/
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			cursor: pointer;
			
		}

		.item__top {
			img {
				margin-bottom: 10%;
			}
		}

		.item__top, .item__bottom {
			position: relative;
		}

		.item__info {
			position: absolute;
			bottom: 8%;
			left: 0;
			width: 100%;
			background: $blue;
			height: 20%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 13px;
			font-family: $fira;
			line-height: 28px;
			display: none;
		}

		.item__bottom {
			.item__info {
				bottom: 0;
			}

			img {
				margin-bottom: 0;
			}
		}
	}
}

.objects {
	padding-bottom: 10%;

	&__slider {
		width: 100%;
	}

	&__slide {
		
		height: 630px;
		position: relative;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.slide {
		&__info {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: $blue;
			padding: 30px 40px;

			span {
				display: block;
				font-family: $fira;
				font-size: 24px;
				line-height: 36px;
			}
		}
	}

	.slider-nav {
		
		
	}

	.owl-nav {
		margin-top: 60px;
		text-align: right;

		.owl-prev i, .owl-next i{
			color: $accent;
			font-size: 28px;
		}

		.owl-prev.disabled i, .owl-next.disabled i{
			color: #828282;
			cursor: default;
		}

		.owl-prev {
			margin-right: 50px;
		}
	}
}

.contacts {
	position: relative;

	.questions-form {
		position: absolute;
		width: 550px;
		top: 7%;
		left: 5%;
		z-index: 4;
		background: #fff;
		padding: 74px 50px 50px;
		
		h2 {
			font-family: $fira;
			font-style: normal;
			font-weight: 500;
			font-size: 48px;
			line-height: 58px;
			color: $blue;
			margin-bottom: 48px;
		}

		input[name="name"] {
			width: 100%;
			margin-bottom: 30px;
		}

		input[name="question-btn"] {
			width: 100%;
			padding: 20px 0;
			color: #4F4F4F;
			font-weight: 500;
			font-size: 24px;
			border: none;
			box-sizing: border-box;
			cursor: pointer;
		}

		textarea {
			width: 100%;
			padding: 30px;
			margin-bottom: 30px;
			height: 300px;
		}

		&__policy {
			font-size: 14px;
			line-height: 16px;
			color: #BDBDBD;
			margin-top: 10px;

			a {
				color: #BDBDBD;

				&:hover {
					color: $blue;
				}
			}
		}
	}

	&__location {
		padding: 60px 50px;
		background: #fff;
		position: absolute;
		right: 5%;
		top: 7%;
		z-index: 4;

		p {
			font-size: 24px;
			line-height: 28px;
			color: #000;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.location {
		&__title {
			font-family: $fira;
			font-style: normal;
			font-weight: normal;
			font-size: 48px;
			line-height: 58px;
			color: #1F2A57;
			margin-bottom: 60px;
		}

		&__worktime {
			color: $blue;

			span {
				font-weight: bold;
			}
		}
	}

	&__subscribe {
		padding: 120px 32px 45px 85px;
		position: absolute;
		width: 23%;
		bottom: 12%;
		right: 5%;
		z-index: 4;
		background: #fff;
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: url(img/icons/subscribe.png) 0 0 / contain no-repeat;
			width: 168px;
			height: 129px;
			opacity: 0.3;
		}
		

		a {
			font-family: $fira;
			font-size: 30px;
			line-height: 42px;
			color: #000;

			&:after {
				content:'';
				display: inline-block;
				margin-left: 35px;
				width: 31px;
				height: 16px;
				background: url(img/icons/subsc-ar.png) 0 0 / contain no-repeat;
			}
		}
	}

	#map {
		width: 100%;
		height: 930px;
	}
}

.footer {
	.wrapper {
		padding: 40px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		font-family: $fira;
		line-height: 28px;
		color: #000;
		width: 20%;

		a {
			color: #000;

			&:hover {
				color: $blue;
			}
		}

		&:nth-child(2) {
			width: 17%;
		}

		&:last-child {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 25%;
			

			a {
				width: 100%;
			}

			.asap-logo {
				display: inline-block;
				width: 53px;
				height: 48px;
				background: url(img/icons/asap.png) 0 0 / contain no-repeat;
				margin-right: 34px;
			}
		}
	}
}


/* MEDIA */

@media screen and (max-height: 730px)  {
	.header__content {
		margin-top: 5%;
		height: 50vh;

		h1 {
			font-size: 54px;
			line-height: 1.5;
		}

		p {
			font-size: 28px;
		}


	}

	.header__other-buttons {
			.call-btn {
				bottom: 30px;
			}

			.write-btn {
				bottom: 150px;
			}
		}
}

@media screen and (max-width: 1640px) {
	.header .top-menu__right-side p {
		display: none;
	}

	.header .top-menu__right-side {
		width: auto;

		.icon:hover {
			opacity: 0.8;
		}
	}

	.works__calculate-btn {
		padding: 16px 10px;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 1355px) {
	.header__content {
		width: 100%;

		
		h1 {
			font-size: 64px;
		}

		p {
			font-size: 28px;
		}
	}

	.header .top-menu__menu {
		width: 50%;
	}

	.header__other-buttons {
		.write-btn {
			bottom: 25vh;
		}

		.call-btn {
			bottom: 12vh;
		}
	}

	.works .item__head {
		height: 100px;
	}

	.works .item__head p {
		font-size: 18px;
	}

	.title {
		font-size: 54px;
	}

	.advantages-table .item__text {
		font-size: 20px;
	}

	.services__table {
		flex-wrap: wrap;
		margin-bottom: 50px;
	}

	.services .table__item {
		width: 45%;
		margin-bottom: 60px;
	}

	.services .item__title {
		margin-bottom: 30px;
	}

	.questions__right-block {
		width: 65%;
	}
}

@media screen and (max-width: 1240px) {
	.header .top-menu__left-side {
		flex-wrap: wrap;
		width: 30%;
	}

	.header .left-side__subtitle {
		width: 100%;
		margin-top: 20px;
		margin-left: 70px;
	}

	.header .top-menu__menu {
		width: 60%;
	}

	.header__content {
		h1 {
			font-size: 54px;
		}
	}

	.documents__main-slide .item__info {
		padding: 15px;

		span {
			font-size: 20px;
		}
	}

	.documents__main-slide {
		width: 45%;
	}

	.documents__nav {
		width: 55%;
	}

	.works__calculate-btn {
		padding: 16px 0;
		width: 100%;
		text-align: center;
	}

	.questions .wrapper {
		position: relative;
		padding-bottom: 430px;
	}

	.questions__title {
		margin-bottom: 50px;
	}

	.questions__right-block {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		margin-left: 0;
		float: none;
	}

	.calculating__form p {
		width: 47%;
	}

	.calculating__form .third-col {
		margin-top: 30px;
		width: 100%;
	}

	.footer__item:last-child {
		width: 30%;
	}


}

@media screen and (max-width: 1030px) {
	.works__table {
		justify-content: space-between;
	}

	.works .table__item {
		width: 47%;
	}

	.advantages__text {
		width: 100%;
	}

	.advantages-table__table {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.advantages-table .table__item {
		width: 47%;
		margin-bottom: 40px;
	}

	.services {
		padding: 97px 0 130px;
	}

	.deadlines__table {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.deadlines .table__item {
		width: 100%;
		margin-bottom: 50px;

		span {
			margin-left: 30px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 996px) {
	.header {
		padding-top: 105px;
	}
	.header__top-menu {
		display: none;
	}

	.header__mobile-header {
		display: flex;
	}

	.contacts .questions-form {
		width: auto;
		right: 5%;
		top: 1.5%;
		padding: 58px 50px 30px;
	}

	.contacts #map {
		height: 200vh;
	}

	.contacts__location {
		top: 60%;
		left: 5%;
		right: auto;
		padding: 60px 50px;

		
	}

	.contacts__subscribe {
		left: 5%;
		right: auto;
		width: 58%;
		top: 84%;
		bottom: auto;
	}

	.footer__item {
		width: 30%;
	}

	.footer__item:nth-child(2) {
		width: 30%;
	}

	.footer__item:last-child {
		width: 35%;

	}

	.footer__item:last-child .asap-logo {
		margin-right: 20px;
	}
}